html, body, #root {
  height: 100%;
  margin: 0;
}

.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.auth-card {
  width: 400px;
  padding: 24px;
  border-radius: 12px;
}